
.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/test/0.csv
data/test/1.csv
data/test/10.csv
data/test/11.csv
data/test/12.csv
data/test/13.csv
data/test/14.csv
data/test/15.csv
data/test/16.csv
data/test/17.csv
data/test/18.csv
data/test/19.csv
data/test/2.csv
data/test/20.csv
data/test/21.csv
data/test/22.csv
data/test/23.csv
data/test/24.csv
data/test/25.csv
data/test/26.csv
data/test/27.csv
data/test/28.csv
data/test/29.csv
data/test/3.csv
data/test/30.csv
data/test/31.csv
data/test/32.csv
data/test/33.csv
data/test/34.csv
data/test/35.csv
data/test/36.csv
data/test/37.csv
data/test/38.csv
data/test/39.csv
data/test/4.csv
data/test/40.csv
data/test/41.csv
data/test/42.csv
data/test/43.csv
data/test/44.csv
data/test/45.csv
data/test/46.csv
data/test/47.csv
data/test/48.csv
data/test/49.csv
data/test/5.csv
data/test/50.csv
data/test/51.csv
data/test/52.csv
data/test/53.csv
data/test/54.csv
data/test/55.csv
data/test/56.csv
data/test/57.csv
data/test/58.csv
data/test/59.csv
data/test/6.csv
data/test/60.csv
data/test/61.csv
data/test/62.csv
data/test/63.csv
data/test/64.csv
data/test/65.csv
data/test/66.csv
data/test/67.csv
data/test/68.csv
data/test/69.csv
data/test/7.csv
data/test/70.csv
data/test/71.csv
data/test/72.csv
data/test/73.csv
data/test/74.csv
data/test/75.csv
data/test/76.csv
data/test/77.csv
data/test/78.csv
data/test/79.csv
data/test/8.csv
data/test/80.csv
data/test/9.csv
data/train/train.csv
data/sample_submission.csv
.ipynb_checkpoints/first-checkpoint.ipynb
jiiiiiiiiiiiiiiin/target_lr.csv
final/.ipynb_checkpoints/우럭이우럭-checkpoint.ipynb
final/.ipynb_checkpoints/우럭이안우럭-checkpoint.ipynb
final/.ipynb_checkpoints/finalfinal-checkpoint.csv
final/.ipynb_checkpoints/final-checkpoint.csv
final/.ipynb_checkpoints/AI_S3_코드양식-checkpoint.ipynb
.ipynb_checkpoints/AI_S3_코드양식-checkpoint.ipynb
